*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

/* --HEADER-- */

.header{
   height: 20vh;
    width:100%;
    background-color:seashell;
    position: relative;
}

nav{
    display: flex;
    padding-left: 100px;
    padding-right: 30px;
    padding-top: 0px;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 180px;
    height: 180px;
    margin-top: -10%;
}

/* --SEARCH-- */

 .search .input{
    border: 0;
    outline: none;
    color: #ff5252;
}

._search{
    width: 500px;
    margin-left: 20%;
    margin-top: -5%;
}

._search .search_box{
    position: relative;
    width: 500px;
    height: 40px;
}

._search .search_box .input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 12px rgba(0,0,0,0.5);
    border-radius: 20px;
    font-size: 18px;
}

._search .search_box .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #ff5252;
    z-index: 1;
    cursor: pointer;
    border-radius: 20px;

}

._search .search_box .btn:hover{
    background: #ff5252;
}

._search .search_box .btn.btn_common i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
}

@media (max-width: 500px){
    ._search{
        width: 200px;
        margin-left: -40%;
    }

    ._search .search_box{
        position: relative;
        width: 240px;
        height: 32px;
     
    }
    ._search .search_box .btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 32px;
        background: #ff5252;
        z-index: 1;
        cursor: pointer;
        border-radius: 20px;
    }
    
} 
.nav-links{
    flex:1;
    text-align: right;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #ff5252;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

nav .fa{
    display:none;
}

@media (max-width: 500px)
{
    
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background:seashell;
        height:100vh;
        width:200px;
        color: white;
        top:0;
        right:-200px;
        text-align: left;
        z-index:2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: black;
        margin: 5px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding:30px;
        color: white;
    }
    .main-logo{
        width: 80%;
        height: 80%;
        max-width: 400px;
        margin-top: 2px;
        margin-left: -80px;
    }
    .nav-links ul li a{
        color: #ff5252;
        text-decoration: none;
        font-size: 13.2px;
    }
}


/* --SLIDESHOW-- */

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
    height: 100vh;
}

@keyframes slider{
    0%{
        left:0;
    }
    20%{
        left: 0;
    }
    25%{
       left: -100%; 
    }
    45%{
        left: -100%; 
     }
     50%{
        left: -200%; 
     }
     70%{
        left: -200%; 
     }
     75%{
        left: -300%; 
     }
     95%{
        left: -300%; 
     }
     100%{
        left: -400%; 
     }

}

/* --CATEGORY-- */

#gallery{
    background-color:seashell; 
	width: 100%;
    
}
.gallery-box{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px;
}
.title-text h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 50px;
    color: #ff5252;
    margin-left: 5%;
}
.single-gallery{
	flex-basis: 48%;
	text-align:center;
	border-radius: 9px;
	margin-bottom:30px;
    
	color: white;
	position: relative;
}
.single-gallery img{
    border:5px solid black;
	width: 50%;
    height: 100%;
	border-radius: 7px;
}


.overlay{
	width: 50%;
	height: 100%;
    margin-left: 190px;
	position: absolute;
	top:0;
	border-radius:7px;
	cursor:pointer;
	background: linear-gradient(rgba(0,0,0,0.5),red);
	opacity:0;
	transition: 1s;
}
.single-gallery:hover .overlay{
	opacity:1;
}
.service-desc{
	width: 70%;
	position:absolute;
	bottom:0%;
	left:50%;
	opacity:0;
	transform:translateX(-50%);
	transition:1s;
}

.service-desc h3{
	font-size:40px;
	color: white;
}
.single-gallery:hover .service-desc{
	bottom:40%;
	opacity:1;
}

@media screen and (max-width: 500px) {
	.single-gallery{
		flex-basis:100%;
		margin-bottom:30px;
		margin:center;
	}
	.overlay{
        width: 50%;
        height: 100%;
        margin-left: 120px;
        position: absolute;
        top:0;
        border-radius:7px;
        cursor:pointer;
        background: #ff5252;
        opacity:0;
        transition: 1s;
    }

    .title-text h1{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 40px;
        color: #ff5252;
        margin-left: 5%;
    }
	
    .service-desc h3{
        font-size: 25px;
        margin-left: 20px;
        margin-bottom: 30px;

    }

	.single-gallery:hover .service-desc{
		bottom: 25% !important;
	}
}

/* --RESTAURANT BUTTON-- */

.rest-button{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
    background-color: wheat;
    margin-top: 3%;
    padding-top: 10%;

}
.btn-1{
    border: 2px solid black;
    /* background: transparent; */
    padding: 60px 60px 60px 60px;
    font-size: 50px;
    color: black;
    border-radius: 30%;
    cursor: pointer;
    margin-bottom: 10%;
    
}

.btn-1:hover{
    color: black;
    background: #ff5252;
    transition: 0.8s;
}

.btn-1::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: black;
    z-index: -1;
    transition: 0.8s;
}

@media screen and (max-width: 500px) {

    .rest-button{
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        text-align: center;
        background-color: rgb(138, 135, 130);
        margin-top: 3%;
        padding-top: 10%;
    
    }
    
    .btn-1{
        border: 2px solid black;
        /* background: transparent; */
        padding: 10px 10px 10px 10px;
        font-size: 50px;
        color: black;
        border-radius: 30%;
        cursor: pointer;
        margin-bottom: 10%;
        
    }
}



/* --OUTLETS-- */


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.out-text h1{
    text-align: center;
    font-size: 50px;
    color: #ff5252;
    
}

.container .hex{
    position: relative;
    width: 250px;
    height: 300px;
    
    margin: 70px 10px 20px;
}

.container .hex::before{
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.15),transparent,transparent);
    border-radius: 50%;
    transition: 0.5s;
}
.container .hex:hover::before{

    opacity: 0.8;
    transform: scale(0.8);
}


.container .hex .draw{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: 0.5s;
}

.container .hex:hover .draw{
    transform: translateY(-30px);
}

.container .hex .draw img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.container .hex .draw .out-content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg,#ff5252,rgba(8,19,44,50));
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.container .hex:hover .draw .out-content{
        opacity: 1;
        
}


/* --FOOTER-- */

footer{
    color: black;
    background-color: seashell;
    padding: 20px 20px;
    margin-top: 5%;
}
.logo{
    width:120px;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 ul{
    margin-bottom: 32px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.container2 li{
    padding: 0 15px;
    margin-bottom: 16px;
    display: inline-block;
    
    position: relative;
}

.container2 a{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #ff5252;
}

.container2 ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #ff5252;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.container2 ul li:hover::after{
    width:100%;
    
}


.flex-row{
    margin-bottom: 1px;
}

.flex-row .fa{
    display: block;
    color: black;
    margin: 5px;
    font-size: 33px;
    cursor: pointer;
}
.flex-row .fa:hover{
    color: #ff5252;
    
}
p{
    text-align: center;
}

@media (max-width: 500px){
    .container2 ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

